<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549626923649-asjcef5nlulbe9tmktii6qnnf5en37o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549626923649-asjcef5nlulbe9tmktii6qnnf5en37o8</string>
	<key>API_KEY</key>
	<string>AIzaSyDF_0dkqOMLsE7njBNQqCOwiLMinPwJlxk</string>
	<key>GCM_SENDER_ID</key>
	<string>549626923649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yuruKazanApp</string>
	<key>PROJECT_ID</key>
	<string>yuru-kazan-app</string>
	<key>STORAGE_BUCKET</key>
	<string>yuru-kazan-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549626923649:ios:6fe34dca2c41c8c42c5b80</string>
</dict>
</plist>